<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toon News Login</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div class="form-container">
        <img src="https://framerusercontent.com/images/LVcZnxJQmzRMouGnAoVkJUOJjc.png" alt="Logo" class="logo">
        <div class="form-header">
            <h1>WELCOME TooN NEWS!</h1>
        </div>
        <form id="loginForm" action="/info" method="GET">
            <button type="submit">Login</button>
        </form>
        <form id="loginForm" action="/register" method="GET">
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
