.logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin: 10px auto;
  width: 300px; 
  height: auto; 
}

.form-container {
  width: 90%;
  max-width: 500px;
  background-color: #ffffff;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: url('https://img.freepik.com/free-photo/abstract-dark-background-with-flowing-colouful-waves_1048-13124.jpg');
  background-size: cover;
  background-position: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}

.col {
  flex: 1 0 48%;
  margin-right: 10px;
}

.col:last-child {
  margin-right: 0;
}

.form-header {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.form-header h1 {
  margin: 0;
  font-size: 2.0em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

label,
h1,
.error-message,
.success-message {
  color: #ffffff; /* ใช้สีขาวสำหรับตัวหนังสือในฟอร์ม */
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

input:focus,
select:focus {
  border-color: #59CE8F;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container button {
  width: 48%;
  padding: 12px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button-container button[type="button"] {
  background-color: #ff4d4d; /* เปลี่ยนสีปุ่ม "ยกเลิก" เป็นสีแดงเข้ม */
}

.button-container button[type="submit"] {
  background-color: #59CE8F; /* ปรับสีของปุ่ม "สมัคร" ให้เป็นสีเขียว */
}

button:hover {
  transform: scale(1.05);
}

button:disabled {
  background-color: #ffffff;
  cursor: not-allowed;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

@media screen and (max-width: 480px) {
  .form-container {
      width: 100%;
      padding: 20px;
  }

  .logo {
      display: none;
  }

  .form-header h1 {
      font-size: 1.5em;
  }

  .col {
      flex: 1 0 100%;
      margin-right: 0;
  }

  button {
      width: 100%;
  }

  button + button {
      margin-left: 0;
      margin-top: 10px;
  }
}
